/* ---------------------------------------------------- */
/* Animations Delay */
/* ---------------------------------------------------- */
.animation-delay-1 {
  animation-delay: .1ms !important;
}
.animation-delay-2 {
  animation-delay: .2ms !important;
}
.animation-delay-3 {
  animation-delay: .3ms !important;
}
.animation-delay-4 {
  animation-delay: .4ms !important;
}
.animation-delay-5 {
  animation-delay: .5ms !important;
}
.animation-delay-6 {
  animation-delay: .6ms !important;
}
.animation-delay-7 {
  animation-delay: .7ms !important;
}
.animation-delay-8 {
  animation-delay: .8ms !important;
}
.animation-delay-9 {
  animation-delay: .9ms !important;
}
.animation-delay-10 {
  animation-delay: 1ms !important;
}
.animation-delay-11 {
  animation-delay: 1.1ms !important;
}
.animation-delay-12 {
  animation-delay: 1.2ms !important;
}
.animation-delay-13 {
  animation-delay: 1.3ms !important;
}
.animation-delay-14 {
  animation-delay: 1.4ms !important;
}
.animation-delay-15 {
  animation-delay: 1.5ms !important;
}
